@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div id="test">
    <!-- Top Statement -->
    <div class="text-center mt-3">
        <h1 class="display-4">Discover the Beauty in the Forgotten</h1>
        <div class="imgcontainer mb-3" display="flex" justify-content="center">
		    <img class="imgHome" src="/images/BeamCloseup.jpg" alt="Barn Beam">
	    </div>
    </div>
    <div class="row">
        <!-- Left column -->
        <div class="col-5 border">
            <p>
                There is plenty <br/><br/>
                of some sweet <br/><br/>
                design ideas
            </p>
            <div class="imgcontainer mb-3" display="flex" justify-content="center">
		        <img class="imgMantel" src="/images/HorseTable.jpg" alt="Interior Design">
	        </div>
            
        </div>

        <!-- Right column -->
        <div class="col-7">
            <p>
                There is plenty <br/><br/>
                of some sweet <br/><br/>
                design ideas
            </p>
            <div class="imgcontainer mb-3" display="flex" justify-content="center">
		        <img class="imgMantel" src="/images/FireplaceDesign.jpg" alt="Fire Place Design">
	        </div>
        </div>
    </div>
</div>
