@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div id="test">
    <!-- Top Statement -->
    <div class="text-center mt-3">
        <h1 class="display-4">Discover the Beauty in the Forgotten</h1>
        <div class="imgcontainer mb-3" display="flex" justify-content="center">
		    <img class="imgHome" src="/images/BeamCloseup.jpg" alt="Barn Beam">
	    </div>
    </div>
    <div class="row">
        <!-- Left column -->
        <div class="col-5">
            <!-- Top left -->
            <div class="border">
                <h3>Authentic Rustic Interior Designs</h3>
                <p>
                    Aged wood coffee tables can add a peaceful atmosphere to any living room<br/>
                    Holes and bark can be filled with black or clear apoxy for a modern design <br/>
                    Blue or red apoxy can add a vibrant energy to your end table
                </p>
                <div class="imgcontainer mb-3" display="flex" justify-content="center">
		            <img class="imgMantel" src="/images/HorseTable.jpg" alt="Interior Design">
	            </div>
            </div>
            <!-- Bottom left -->
            <div class="mt-3 border">
                <h3>Barn Beam Benches and Hangers</h3>
                <p>
                    Anything can be made out of barn beams!
                </p>
                <div class="imgcontainer mb-3" display="flex" justify-content="center">
		            <img class="imgMantel" src="/images/EntryWay.jpg" alt="Entry Way Design">
	            </div>
            </div>
        </div>

        <!-- Right column -->
        <div class="col-7">
            <div class="text-center m-5">
                <h1>Entire Living Room Sets</h1>
            </div>
            <div class="imgcontainer mb-3" display="flex" justify-content="center">
		        <img class="imgMantel" src="/images/FireplaceDesign.jpg" alt="Fire Place Design">
	        </div>
            <p>
                A dash of barn beam mantels, and aged wood coffee tables can add a taste of farmhouse decor to anyhouse
            </p>
        </div>
    </div>
</div>
