@page
@model NovaScotiaWoodworks.Pages.Products.MantelsModel
@{
}

<div>
	<div class="container mt-4">
		<div class="row">
			<div class="col-7">
				<div>
					<h2>Mantels</h2>
					<hr/>
					<p>
						Steven is dedicated to his craft of creating top end rustic pieces of woodworking <br/>
						He has years of experience in the industry and is always improving his skills <br/>
						Send him an
					</p>
				</div>
			</div>
			<div class="col-5 border">
				<div>
					<h2>Design</h2>
					<hr/>
					<p>
						There is a lot of effort that goes into aquiring the best piece of wood. <br/>
						We go to all areas of Nova Scotia looking for barns 
					</p>
				</div>
			</div>
		</div>
	</div>
</div>