@page
@model NovaScotiaWoodworks.Pages.About.AboutModel
@{
}

<div>
	<div class="container mt-4">
		<div class="row">
			<div class="col-5 border">
				<!-- Personal description-->
				<div>
					<h2>Steven MacDonald</h2>
					<hr/>
					<p>
						Steven is dedicated to his craft of creating top end rustic pieces of woodworking <br/><br/>
						He has years of experience in the industry and is always improving his skills <br/><br/>
						Growing up on PEI exposed him to the beauty in rustic architecture and the aging of wood <br /><br/>
					</p>
					<div class="imgcontainer mb-3" display="flex" justify-content="center">
						<img class="imgHome" src="/images/StevenMacDonald.jpg" alt="Avatar">
					</div>
					<p>
						With years of experience creating authentic pieces of rustic interior decor, 
						Steven is able to find the perfect design accomidation. <br/><br/>
						Contact him with your own cutom design idea or reach out to him to meet for a consultation <br/><br/>
						Steven is always happy to talk if you send him an
						<a asp-page="/About/ContactUs">email</a>
					</p>
				</div>
			</div>
			<!-- Company description -->
			<div class="col-7">
				<div>
					<h2>Nova Scotia Woodworks</h2>
					<hr/>
					<h4 class="text-center">There is a lot of effort that goes into creating a finished product</h4>
				</div>
				<div class="row mt-3">
					<div class="col-4">
						<div class="imgcontainer mb-3" display="flex" justify-content="center">
							<img class="imgAgedWood" src="/images/AgedWood.jpg" alt="Avatar">
						</div>
					</div>
					<div class="col-8">
						<p>
							The first step in creating any piece of Nova Scotia Woodworks, is aquiring the proper starting materials<br/><br/>
							The Wood! <br /><br/>
							Local barns are always in the process of falling down due to storm or being torn down for safety<br/><br/>
							This is the perfect location to gather aged pieces of wood, up to 100 years old!
						</p>
					</div>
				</div>
				<div class="row m-2 border-top" id="customOrder">
					<div class="col-8">
						<p>
							It may surprise you how beautiful a stump can look after running high voltage thought it! <br/><br/>
							This can be encridibly dangerous and is not recommended to try yourself, 
							let the professionals at Nova Scotia Woodworks handle it for you
						</p>
					</div>
					<div class="col-4">
						<div class="imgcontainer m-3" display="flex" justify-content="center">
							<img class="imgAgedWood" src="/images/Stump.jpg" alt="Avatar">
						</div>
					</div>
				</div>
				<div class="row m-2 border-top">
					<div class="col-4">
						<div class="imgcontainer m-3" display="flex" justify-content="center">
							<img class="imgAgedWood" src="/images/OutdoorWood.jpg" alt="Avatar">
						</div>
					</div>
					<div class="col-8">
						<p>
							Sometimes theres no need to locate a barn for the wood, only a fallen down tree <br/><br/>
							There may be some hidden masterpieces in your backyard right now!
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>