@page
@model NovaScotiaWoodworks.Pages.Account.ChangePasswordModel
@{
}

<div class="container-sm border m-5 text-center" style="padding:20px">
	
	<h2>Change Password</h2>
	<form method="post">
		
		<!-- Current password input -->
		<div class="form-outline mb-4 row">
			<div class="col-5 text-end">
				<label asp-for="ChangePassword.CurrentPassword"></label>
			</div>
			<div class="col-3">
				<input type="password" asp-for="ChangePassword.CurrentPassword" class="form-control"/>
				<span class="text-danger" asp-validation-for="ChangePassword.CurrentPassword"></span>	
			</div>
		</div>

		<!-- New password input -->
		<div class="form-outline mb-4 row">
			<div class="col-5 text-end">
				<label asp-for="ChangePassword.NewPassword"></label>
			</div>
			<div class="col-3">
				<input type="password" asp-for="ChangePassword.NewPassword" class="form-control"/>
				<span class="text-danger" asp-validation-for="ChangePassword.NewPassword"></span>	
			</div>
		</div>

		<!-- Confirm password input -->
		<div class="form-outline mb-4 row">
			<div class="col-5 text-end">
				<label asp-for="ChangePassword.ConfirmPassword"></label>
			</div>
			<div class="col-3">
				<input type="password" asp-for="ChangePassword.ConfirmPassword" class="form-control"/>
				<span class="text-danger" asp-validation-for="ChangePassword.ConfirmPassword"></span>	
			</div>
		</div>
		<label class="text-danger mb-2">
			@Html.ValidationMessage("PasswordError")
		</label>
		<!-- Submit Button -->
		<div class="mt-2"display="flex" justify-content="center">
			<input type="submit" class="btn btn-primary" value="Update" />
		</div>
	</form>
</div>