@page
@model NovaScotiaWoodworks.Pages.Account.ChangePasswordModel
@{
}

<form method="post">
	<div class="border p-3 mt-4">
		<div class="row pb-2">
			<h2 class="text-primary">Change Password</h2>
			<hr />
		</div>
		<!-- Current password input -->
		<div class="mb-3">
			<label asp-for="ChangePassword.CurrentPassword"></label>
			<input type="password" asp-for="ChangePassword.CurrentPassword" class="form-control"/>
			<span asp-validation-for="ChangePassword.CurrentPassword" class="text-danger"></span>
		</div>

		<!-- New password input -->
		<div class="mb-3">
			<label asp-for="ChangePassword.NewPassword"></label>
			<input type="password" asp-for="ChangePassword.NewPassword" class="form-control"/>
			<span asp-validation-for="ChangePassword.NewPassword" class="text-danger"></span>
		</div>

		<!-- Confirm password input -->
		<div class="mb-3">
			<label asp-for="ChangePassword.ConfirmPassword"></label>
			<input type="password" asp-for="ChangePassword.ConfirmPassword" class="form-control"/>
			<span asp-validation-for="ChangePassword.ConfirmPassword" class="text-danger"></span>
		</div>
		<label class="text-danger mb-2">
			@Html.ValidationMessage("PasswordError")
		</label>
		<div class="mt-1">
			<!-- Submit Button -->
			<button class="btn btn-primary mr-1" type="submit">Update</button>
			<a class="btn btn-secondary" asp-page="/Account/EditProfile">Back</a>
		</div>
	</div>
</form>
