@page
@model NovaScotiaWoodworks.Pages.Account.LoginModel
@{
}

<div class="container-sm border m-5 text-center" style="padding:20px">
	<div class="imgcontainer mb-3" display="flex" justify-content="center">
		<img class="imglogin" src="/images/SignInAvatar.png" alt="Avatar">
	</div>
	<h2>Sign In</h2>
	
	<form method="post">
		<div class="text-danger" asp-validation-summary="ModelOnly"></div>

		<!-- Username input -->
		<div class="form-outline mb-4 row">
			<div class="col-5 text-end">
				<label asp-for="CurrentUser.Username"></label>
			</div>
			<div class="col-3">
				<input class="form-control" type="text" asp-for="CurrentUser.Username" place-holder="Username" autofocus/>
				<span class="text-danger" asp-validation-for="CurrentUser.Username"></span>
			</div>
		</div>

		<!-- Password input -->
		<div class="form-outline mb-4 row">
			<div class="col-5 text-end">
				<label asp-for="CurrentUser.Password"></label>
			</div>
			<div class="col-3">
				<input type="password" asp-for="CurrentUser.Password" class="form-control"/>
				<span class="text-danger" asp-validation-for="CurrentUser.Password"></span>
			</div>
		</div>
		<label class="text-danger mb-2">
			@Html.ValidationMessage("AccountError")
		</label>
		<div class="row mb-4">
			<div class="col-6 text-end">
				<!-- Remeber Me Checkbox -->
				<input class="form-check-input" type="checkbox" value=""  checked />
				<label class="form-check-label"> Remember me </label>
			</div>

			<div class="col-6 text-start ml-1">
				<!-- Forgot Password Link -->
				<a href="#!">Forgot password?</a>
			</div>
		</div>
		<a class="btn btn-link row" asp-page="/Account/Register">Create Account</a>
		<!-- Submit Button -->
		<div display="flex" justify-content="center">
			<input type="submit" class="btn btn-primary" value="Login" />
		</div>
	</form>
</div>