@page
@model NovaScotiaWoodworks.Pages.Account.RegisterModel
@{
}

<div class="container border" style="padding:20px">
	<form method="post">
		<div class="text-danger" asp-validation-summary="ModelOnly"></div>
		<div class="form-group row">
			<div class="col-2">
				<label asp-for="CurrentUser.Username"></label>
			</div>
			<div class="col-5">
				<input type="text" asp-for="CurrentUser.Username" class="form-control"/>
			</div>
			<span class="text-danger" asp-validation-for="CurrentUser.Username" />
		</div>
		
		<div class="form-group row">
			<div class="col-2">
				<label asp-for="CurrentUser.Password"></label>
			</div>
			<div class="col-5">
				<input type="password" asp-for="CurrentUser.Password" class="form-control"/>
			</div>
			<span class="text-danger" asp-validation-for="CurrentUser.Password" />
		</div>

		<div class="form-group row">
			<div class="col-2">
				<label asp-for="CurrentUser.FirstName"></label>
			</div>
			<div class="col-5">
				<input type="text" asp-for="CurrentUser.FirstName" class="form-control"/>
			</div>
			<span class="text-danger" asp-validation-for="CurrentUser.FirstName" />
		</div>

		<div class="form-group row">
			<div class="col-2">
				<label asp-for="CurrentUser.LastName"></label>
			</div>
			<div class="col-5">
				<input type="text" asp-for="CurrentUser.LastName" class="form-control"/>
			</div>
			<span class="text-danger" asp-validation-for="CurrentUser.LastName" />
		</div>

		<div class="form-group row">
			<div class="col-2">
				<input type="submit" class="btn btn-primary" value="Register" />
			</div>
			<div>

			</div>
		</div>
	</form>
</div>