@page
@model NovaScotiaWoodworks.Pages.Account.RegisterModel
@{
}

<div class="container-sm border m-5 text-center" style="padding:20px">
	
	<h2>Register</h2>
	<form method="post">
		<!-- Username input -->
		<div class="form-outline mb-4 row">
			<div class="col-5 text-end">
				<label asp-for="CurrentUser.Username"></label>
			</div>
			<div class="col-3">
				<input class="form-control" type="text" asp-for="CurrentUser.Username" place-holder="Username" autofocus/>
				<span class="text-danger" asp-validation-for="CurrentUser.Username"></span>
			</div>
		</div>

		<!-- Password input -->
		<div class="form-outline mb-4 row">
			<div class="col-5 text-end">
				<label asp-for="CurrentUser.Password"></label>
			</div>
			<div class="col-3">
				<input type="password" asp-for="CurrentUser.Password" class="form-control"/>
				<span class="text-danger" asp-validation-for="CurrentUser.Password"></span>	
			</div>
		</div>

		<!-- FirstName input -->
		<div class="form-outline mb-4 row">
			<div class="col-5 text-end">
				<label asp-for="CurrentUser.FirstName"></label>
			</div>
			<div class="col-3">
				<input type="text" asp-for="CurrentUser.FirstName" class="form-control"/>
				<span class="text-danger" asp-validation-for="CurrentUser.FirstName"></span>	
			</div>
		</div>

		<!-- LastName input -->
		<div class="form-outline mb-4 row">
			<div class="col-5 text-end">
				<label asp-for="CurrentUser.LastName"></label>
			</div>
			<div class="col-3">
				<input type="text" asp-for="CurrentUser.LastName" class="form-control"/>
				<span class="text-danger" asp-validation-for="CurrentUser.LastName"></span>	
			</div>
		</div>
		<label class="text-danger mb-2">
			@Html.ValidationMessage("RegisterError")
		</label>
		<!-- Submit Button -->
		<div class="mt-2"display="flex" justify-content="center">
			<input type="submit" class="btn btn-primary" value="Register" />
		</div>
	</form>
</div>